# Required LLM configuration (Azure OpenAI)
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
OPENAI_API_VERSION=
AZURE_OPENAI_DEPLOYMENT=
AZURE_MODEL=

AZURE_OPENAI_EMBEDDING_API_KEY=
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME=
AZURE_OPENAI_RESOURCE_NAME=
COLLECTION_NAME=
CHROMA_PATH=
MAX_UPLOAD_SIZE_MB=